body {
    background-color: #FFD1DC;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding-top: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 40px; /* Adjust to move everything up or down */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px; /* space between form and info */
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

button {
    background-color: #FC8EAC;
    border: 2px solid black;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    position: relative;
    top: -5px; 
}

button:hover {
    background-color: #ff1493;
}

#info {
    margin-top: 75px; /* adjust the spacing as needed */
    text-align: center;
}

table{
    width: 100%;
    border-collapse: collapse; /* space between cells */
    border-spacing: 0px; /* adjust spacing between cells */
    margin-top: 20px;
} 
th, td{
    border: 1px solid #ff1493; 
    padding: 10px; 
    text-align: center; 
    width: 25%; 
    box-sizing: border-box;
    
} 
th{
    background-color: #f2f2f2; 
    font-weight: bold; 
    border-bottom: 3px solid #ff1493; /* underline to the header*/
} 

.green { 
    background-color: green; }
.yellow { 
    background-color: yellow; }
    .up-arrow::after { 
        content: " \u2191"; /* Up arrow */
        display: inline;
        margin-left: 5px;
        color: black;
    }
    .down-arrow::after { 
        content: " \u2193"; /* Down arrow */
        display: inline;
        margin-left: 5px;
        color: black;
    }
    
.arrow{
    font-size: 14px;
    margin-left: 5px; 
    color: black; 
}